{% extends 'baseapp/mainpg.html' %}
{% load static %}
{% block content %}

<div class="welcome">CONTRIBUTORS </div>

<section class="features">
<div class="row">
	<div class="f-list col-lg-12 col-md-12 col-sm-12">
		<div class="card">
  <img class="news-img" src="{% static 'images/prakhar.jpeg' %}" alt="news">
  <div class="card-body">
    <h2 class="news-text">PRAKHAR PRATYUSH</h2>
  </div>
</div>
	</div>
</div>

  <div class="row1">
  <div class="f-list col-lg-12 col-md-12 col-sm-12">
    <div class="card">
  <img class="news-img" src="{% static 'images/swapnil.jpeg' %}" alt="news">
  <div class="card-body">
    <h2 class="news-text">SWAPNIL</h2>
  </div>
</div>
  </div>
  </div>

</section>


{% endblock %}